.cell {
  background-color: #303030;
  width: 100%;
  height: 100%;
  color: #303030;
  position: relative;
  border: solid 1px gray;
  box-sizing: border-box;
}

.cell .input {
  background-color: #fffff0;
  display: table;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cell .character {
  display: table-cell;
  font-size: 36pt;
  vertical-align: middle;
  text-align: center;
}

.cell .index {
  display: inline-block;
  position: absolute;
  padding: 5px;
}
