.grid .highlightContainer {
  position: relative;
  pointer-events: none;
}

.grid .highlight {
  position: absolute;
  border: dashed 3px orange;
  border-radius: 10px;
  box-sizing: border-box;
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  pointer-events: none;
}
