.ruleListItem {
  cursor: pointer;
}

.ruleListItem .key {
  background: #404040;
  color: #f0f0f0;
  padding: 0.2em 0.7em;
  border-radius: 0.5em;
  font-weight: 500;
  margin-right: 3px;
}

.ruleListItem .pattern {
  margin-left: 1em;
  font-family: monospace;
}

.ruleListItem.highlight .pattern {
  border: dashed 3px orange;
  border-radius: 5px;
  padding: 5px 10px;
}

.ruleListItem.valid .key {
  background-color: #83e983;
  color: #303030;
}

.ruleListItem.invalid .key {
  background-color: #ff8080;
}
